/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16-Dec-2017, 17:37:59
    Author     : Jönnsson
*/

/*
    INNFFO screen custom elements creation
*/
.text-area .content{
    -fx-background-color: linear-gradient(black, black);
    -fx-highlight-fill: white;
    -fx-text-fill: white;
    -fx-highlight-text-fill: white;
    -fx-text-fill: whitesmoke;
    -fx-prompt-text-fill: white;
}
.text-area{
    -fx-highlight-fill: white;
    -fx-text-fill: white;
    -fx-highlight-text-fill: white;
    -fx-text-fill: whitesmoke;
    -fx-prompt-text-fill: white;
}

.root {
     -fx-background-color: linear-gradient(black,black);
}
