/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16-Dec-2017, 15:54:20
    Author     : Jönnsson


This method adds custom elements to main window

*/

.button {
    -fx-text-fill: whitesmoke;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient( black,black );
}

.button:hover {
    -fx-background-color: linear-gradient(black, deeppink);
}


.root {
     -fx-background-color: linear-gradient(black,black);
}


.label{
    -fx-text-fill: deeppink;
    -fx-font-weight: bold;
    -fx-font-family: cursive;

}

.combo-box-base{
    -fx-background-color: linear-gradient(black, black);
    -fx-highlight-fill: white;
    -fx-text-fill: white;
    -fx-highlight-text-fill: white;
    -fx-text-fill: whitesmoke;
    -fx-prompt-text-fill: white;
}
.combo-box .cell{
    -fx-text-fill: white;
}

.combo-box-base:hover {
    -fx-background-color: linear-gradient(black, deeppink);
}
.combo-box-popup .list-view .list-cell 
{

    /* No alternate highlighting */
    -fx-background-color: black;
}





.text-area .content{
    -fx-background-color: linear-gradient(black, black);
    -fx-highlight-fill: white;
    -fx-text-fill: white;
    -fx-highlight-text-fill: white;
    -fx-text-fill: whitesmoke;
    -fx-prompt-text-fill: white;
}
.text-area{
    -fx-highlight-fill: white;
    -fx-text-fill: white;
    -fx-highlight-text-fill: white;
    -fx-text-fill: whitesmoke;
    -fx-prompt-text-fill: white;
}
