/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16-Dec-2017, 17:28:08
    Author     : Jönnsson

Custom elements for package log


*/

.root {
     -fx-background-color: linear-gradient(black,black);
}


.list-cell:filled:selected:focused, .list-cell:filled:selected {
    /* 3:, 4: */
    -fx-background-color: black;
    -fx-text-fill: white; 
}
.list-cell { -fx-text-fill: red; /* 5 */ }
.list-cell:odd { -fx-background-color: black; /* 1 */ }
.list-cell:even { -fx-background-color: black; /* for information */ }
.list-cell:filled:hover { 
    -fx-background-color: black; /* 2 */
    -fx-text-fill: darkorchid; /* 5 */
}