/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16-Dec-2017, 17:04:42
    Author     : Jönnsson

Creates custom elements for package creation window

*/



.button {
    -fx-text-fill: whitesmoke;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient( black,black );
}

.button:hover {
    -fx-background-color: linear-gradient(black, deeppink);
}


.root {
     -fx-background-color: linear-gradient(black,black);
}


.label{
    -fx-text-fill: deeppink;
    -fx-font-weight: bold;
    -fx-font-family: cursive;

}

.combo-box-base{
    -fx-background-color: linear-gradient(black, black);
    -fx-highlight-fill: white;
    -fx-text-fill: white;
    -fx-highlight-text-fill: white;
    -fx-text-fill: whitesmoke;
    -fx-prompt-text-fill: white;
}
.combo-box .cell{
    -fx-text-fill: white;
}

.combo-box-base:hover {
    -fx-background-color: linear-gradient(black, deeppink);
}
.combo-box-popup .list-view .list-cell 
{

    /* No alternate highlighting */
    -fx-background-color: black;
}


.text-field{
    -fx-background-color: linear-gradient(black, black);
    -fx-highlight-fill: white;
    -fx-text-fill: white;
    -fx-highlight-text-fill: white;
    -fx-text-fill: white;
}
